*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title {
    color: white;
}

.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

header {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.logo {
    width: 100px;
}

.menu {
    width: 100%;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    &__item {
        // margin: 0 30px;
        color: white;
        &::after {
            width: 100px;
            height: 200px;

            background-color: white;
        }
    }
}