$dark: #191919;
$light: #ffffff;

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: mongoose, sans-serif;
    font-weight: 400;
}

a,
a:hover
a:visited,
a:active {
    color: $dark;
    text-decoration: none;
}


body {
    color: $light;
    padding: 2% 4%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.logo {
    width: 9%;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    &__item {
        font-size: clamp(12px, 2.5vw, 50px);
        color: $light;
        text-transform: uppercase;
        &::after {
            width: 100px;
            height: 200px;
            background-color: white;
        }
    }
}

main {
    margin-left: 12%;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(40px, 18vh, 180px);
    line-height: clamp(25px, 13vh, 120px);
    margin-bottom: 40px;
}

.button {
    background-color: $light;
    border: 0;
    padding: 10px 40px;
    text-align: center;
    color: $dark;
    text-decoration: none;
    font-size: clamp(12px, 2.5vw, 50px);
    line-height: clamp(12px, 2.5vw, 50px);
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    &__item {
        width: 3.5%;
        margin: 0 20px;
    }
}